.movie-card {
    cursor: pointer;

    &:hover { 
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3);
    }

    &:active { 
    transform: translateY(1px) scale(0.98);
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}